name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            name: linux-x86_64
          - os: macos-latest
            name: macos-universal

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Build
        run: |
          nix build

      - name: Package artifact
        run: |
          mkdir -p dist
          cp -r result/* dist/
          tar -czf my-cli-${{ matrix.name }}.tar.gz -C dist .

      - name: Upload release artifact
        if: startsWith(github.ref, 'refs/tags/')
        uses: ncipollo/release-action@v1
        with:
          artifacts: my-cli-${{ matrix.name }}.tar.gz
          tag: ${{ github.ref_name }}
